{% extends "postcards/postcard_base.html" %}
{% block page_subtitle %} Advanced Search {% endblock %}

{% block content %}
<form name="postcardquery" action="postcards/search.php" method="get">
<table class="searchform" border="0">
<tr><th>Keyword</th><td><input type="text" size="40" name="keyword"></td></tr>
<tr><th>Title</th><td><input type="text" size="40" name="title"></td></tr>
<tr><th>Description</th><td><input type="text" size="40" name="figdesc"></td></tr>
<tr><th colspan="2" class="label">Categories</th></tr>
{% for type in categories.object_list %}
<tr><th>{{type}}</th><td><select name="{{type}}"><option selected="true" value="null">--</option> 
{% endfor %}
</tr></td>
</table>
<input type="submit" value="Submit"> 
<input type="reset" value="Reset">
</form>

{% endblock %}