{% extends "postcards/postcard_base.html" %}
{% block page_subtitle %} {{head}} {% endblock %}

{% block content %}
<p><a href="{% url postcards:img-large pid=card.pid %}">View larger image</a></p>
<table>
  <tr>
    <td>
        <img src="{% url postcards:img-medium pid=card.pid %}" />
    </td>  <!-- put link to 2x image here -->
    <td class="description">
        <h4>{{card.label}}</h4>
        <p>{{card.dc.content.description}}</p>
         <h5>Categories:</h5>
         <ul>
            {% for subject in card.dc.content.subject_list %}
             <li><a href="{% url postcards:browse %}?subject={{subject}}">{{ subject }}</a></li>
            {% endfor %}        
        </ul>	    
     </td>
  </tr>
</table>

{% endblock %}
