{% extends "poetry/base_page.html" %}
{% block page_subtitle %} Browse Poets {% endblock %}

{% block content %}
{{ poets.paginator.count }} poets found, displaying {{ poets.start_index }} - {{ poets.end_index }}
<ul>
 {% for poet in poets.object_list %}
   <li><a href="/poetry/poet/{{ poet|urlencode }}">{{ poet }}</a></li>
 {% empty %}
   <li>No match<li>
 {% endfor %}
</ul>


<div class="pagination">
    <span class="step-links">
        {% if poets.has_previous %}
            <a href="?page={{ poets.previous_page_number }}">&lt; previous</a>
        {% endif %}

        <span class="current">
            Page {{ poets.number }} of {{ poets.paginator.num_pages }}.
        </span>

        {% if poets.has_next %}
            <a href="?page={{ poets.next_page_number }}">next &gt;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
