{% extends "poetry/poetry_base.html" %}
{% load tei %}
{% block page_subtitle %} {{ div.doctitle }} | {{ div.title }} {% endblock %}

{% block content %}
{% if div %}
    from <a href="{% url poetry:book-toc div.doc_id %}">{{ div.doctitle }}</a>

    {{ body|safe }}

    {% if div.prevdiv.id %}
        <p class="next-prev">
            <a href="{% url poetry:poem div.doc_id div.prevdiv.id %}"
                rel="prev">Previous poem{% if div.prevdiv.title %}: {{ div.prevdiv.title}}{% endif %}
            </a>
        </p>
    {% endif %}
    {% if div.nextdiv.id %}
         <p class="next-prev">
             <a href="{% url poetry:poem div.doc_id div.nextdiv.id %}"
                rel="next">Next poem{% if div.nextdiv.title %}: {{ div.nextdiv.title }}{% endif %}
            </a>
        </p>
    {% endif %}
{% endblock %}