{% extends "poetry/poetry_base.html" %}
{% load tei %}
{% block page_subtitle %} {{ div.doctitle }} | {{ div.title }} {% endblock %}

{% block content %}
{% if div %}
from <a href="{% url poetry:book-toc div.doc_id %}">{{ div.doctitle }}</a> (id =  {{div.doc_id}} )

<div class="content">
{{ body|safe }}
</div>
{% if div.prevdiv.id %}
    <p class="next-prev"><a href="{% url poetry:poem div.doc_id div.prevdiv.id %}">Previous poem: {{ div.prevdiv.title }}</a> </p>
{% endif %}
{% if div.nextdiv.id %}
     <p class="next-prev"><a href="{% url poetry:poem div.doc_id div.nextdiv.id %}">Next poem: {{ div.nextdiv.title }}</a></p>
{% endif %}
{% endif %}
      </div>
      <pre>{{div.serializeDocument}}</pre>
{% endblock %}