@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	background-color:#FFFFFF;
	padding:0;
	}

#error_container {
	width: 600px;
	height: 300px;
	background-image: url(../images/404page_backpanel.jpg);
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	}

.errorcode {
	width: 195px;
	height: 65px;
	position: relative;
	left: 342px;
	top: 53px;
	display: inline-block;
	float: none;
}	

.errortext {

	width: 174px;
	height: 24px;
	position: relative;
	top: 63px;
	left: 355px;
}	
	
.errorexplainer {

	width: 560px;
	height: 100px;
	position: relative;
	top: 110px;
	left: 20px;
	color: white;
	font-size: 18px;
	text-align: left;
	float: left;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}	

#errorslot_1{
	float: left;
}

#errorslot_2{
	float: left;
}

#errorslot_3{
	float: left;
	}
	
	
.one {
	width: 65px;
	height: 65px;
	background-image: url(../images/one.png);
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	float:left;
	}
	
.two {
	width: 65px;
	height: 65px;
	background-image: url(../images/two.png);
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	float:left;
	}		

.three {
	width: 65px;
	height: 65px;
	background-image: url(../images/three.png);
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	float:left;
	}
	
.four {
	width: 65px;
	height: 65px;
	background-image: url(../images/four.png);
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	float:left;
	}
	
.five {
	width: 65px;
	height: 65px;
	background-image: url(../images/five.png);
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	float:left;
	}
	
.six {
	width: 65px;
	height: 65px;
	background-image: url(../images/six.png);
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	float:left;
	}	

.seven {
	width: 65px;
	height: 65px;
	background-image: url(../images/seven.png);
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	float:left;
	}

.eight {
	width: 65px;
	height: 65px;
	background-image: url(../images/eight.png);
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	float:left;
	}
	
.nine {
	width: 65px;
	height: 65px;
	background-image: url(../images/nine.png);
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	float:left;
	}
	
.zero {
	width: 65px;
	height: 65px;
	background-image: url(../images/zero.png);
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	float:left;
	}		
				
#error {
	width: 174px;
	height: 24px;
	background-image: url(../images/errortext.png);
	background-color: fuschia;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	clear: both;
	}

#outer 	{height: 600px; overflow: hidden; position: relative; width: 100%;}
#outer[id] {display: table; position: relative;}
		
#middle {position: relative; top: 50%; width: 100%; text-align: center;} /* for explorer only*/
#middle[id] {display: table-cell; vertical-align: middle; position: relative;}
		
#inner {position: relative; top: -50%; text-align: left;} /* for explorer only */
#inner {margin-left: auto; margin-right: auto;} /* for all browsers*/
