<!DOCTYPE html PUBLIC "-//W3C/DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
   <title>The Great War: {% block pagetitle %} PAGE TITLE {% endblock %} </title>
   <link rel="stylesheet" type="text/css" href="/css/site.css"/>
</head>

<body> 
 <img src="/images/topbanner.jpg" alt="The Great War" width='800' height='90' borders='0'/>

<table class="indexlinks">
<tr>
     <td><a href='/'>Home</a></td>
     <td class="separator">&bull;</td>	
     <td><a href="">Postcards</a></td>
     <td class="separator">&bull;</td>
     <td><a href="/poetry">Poetry</a></td>
     <td class="separator">&bull;</td>
     <td><a href="">Links</a></td>
     <td class="separator">&bull;</td>
     <td><a href="">About the Site</a></td>
     <td class="separator">&bull;</td>
     <td><a href="">Credits</a></td>
</tr>

</table>
        <hr align='left'>

<div class="sidebar">

<div class="nav">
{% block section_nav %}
{% endblock %}
</div>

<div class='search'>
<h3>Search</h3> 

<form action=''>
<input type='text' name='keyword' size='15'>
<input type='submit' value='Go'>
<font size='-1'>

<h4>Search within:</h4>
<input type='checkbox' name='poetry' checked>Poetry<br>
<input type='checkbox' name='postcards' checked>Postcards<br>
<input type='checkbox' name='links' checked>Links<br>
</font>
</form>

</div>
</div>

<div class="content">

	    
{% block content %}
{% endblock %}

</div>


<div class="footer">

   <table width="500" border="0" align="center">
     <tr>
        <td><a href="http://www.library.emory.edu/">EUCLID</a></td>
        <td><a href="http://www.library.emory.edu/IG/">Information Gateway</a></td>
        <td><a href="http://www.emory.edu/LIBRARIES/">General Library</a></td>
        <td><a href="http://www.emory.edu/">Emory University</a></td>
      </tr>
    </table>


<p class="copy">&copy; 2004 Emory University</p>
</div>


</body>
</html>	
