<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
   <title>The Great War {% block pagetitle %} PAGE TITLE {% endblock %} </title>
   <link rel="icon" type="image/jpeg" href="/images/favicon.jpg">   
   <link rel="stylesheet" type="text/css" href="/css/site.css"/>
   <!-- <script language='Javascript' type='text/javascript' src='/js/toggle-list.js'/> --> <!-- Javascript causes Firefox display error -->
  {% block page-head %}
  {% endblock %}
</head>

<body> 
 <div class="topimage"><img src="/images/topbanner.jpg" alt="The Great War" width='800' height='90' border='0'/></div>

<table class="indexlinks">
<tr>
     <td><a href='/'>Home</a></td>
     <td class="separator">&bull;</td>  
     <td><a href="{% url postcards:index %}">Postcards</a></td>
     <td class="separator">&bull;</td>
     <td><a href="{% url poetry:books %}">Poetry</a></td>
     <td class="separator">&bull;</td>
     <td><a href="{% url links %}">Links</a></td>
     <td class="separator">&bull;</td>
     <td><a href="{% url about %}">About the Site</a></td>
     <td class="separator">&bull;</td>
     <td><a href="{% url credits %}">Credits</a></td>
</tr>

</table>
        <hr align="left"/>
{% block page_title %}{% endblock %}
<div class="sidebar">

<div class="nav">
{% block section_nav %}
{% endblock %}
</div>

<div class='search'>
<h3>Search the poetry</h3> 
<form method="get" action="{% url poetry:search %}">
    <table>
    {# { search.as_table } #}
    </table>

<input type='text' name='keyword' size='15'/>
<input type='submit' value='Go'/>

</form>
<h3>Search the postcards</h3>
    <form method="get" action="{% url postcards:search %}">
<input type='text' name='description' size='15'/>
<input type='submit' value='Go'/>

</form>

</div>
</div>

<div class="content">

      
{% block content %}
{% endblock %}

</div>

{% if querytime %} <p>Query took {{ querytime }}ms </p> {% endif %}

<div class="footer">

   <table width="500" border="0" align="center">
     <tr>
        <td><a href="http://beck.library.emory.edu/">The Beck Center</a></td>
        <td><a href="http://www.library.emory.edu/">EUCLID</a></td>
        <td><a href="http://www.library.emory.edu/IG/">Information Gateway</a></td>
        <td><a href="http://www.emory.edu/LIBRARIES/">General Library</a></td>
        <td><a href="http://www.emory.edu/">Emory University</a></td>
      </tr>
    </table>


<p class="copy">&copy; 2004 Emory University</p>
</div>


</body>
</html> 
