{% extends "base.html" %}
{% block pagetitle %} | Credits{% endblock %}
{% block content %}
<h2>Credits</h2>
<h3>The Editorial Board</h3>
<p class="credits">Harry Rusche, Arthur M. Blank Distinguished Teaching Professor of English<br/>
Alice Hickcox, Electronic Text Specialist, Beck Center<br/>
Rebecca Sutton Koeser, Woodruff Fellow, Beck Center<br/>
Charles Spornick, Coordinator, Beck Center</p>

<h3>Scanning and Encoding Postcards</h3>
<p class="credits">Amy Parker<br/>
Kate Schelbe</p>

<h3>Scanning, Proofreading, and Encoding Poetry</h3>
<p class="credits">Erika Farr<br/>
Alden Mahler<br/>
Josh Klehr<br/>
Matt Gunning<br/>
Shruthi Vissa<br/>
Tyler Kellerman</p>


<h3>Programming Support</h3>
<p class="credits">Julia Leon, Academic Technology Group, Information Technology<br/>
Rebecca Sutton Koeser, Senior Software Engineer, Digital Systems and Programs</p>
<p class="credits">For the 2010 site revision, thanks must go to the
entire Digital Systems and Programs Software Engineering team (Scott
Turnbull, Ben Ranker, Rebecca Sutton Koeser, Sari Connard, Alex
Thomas, and Steven Anderson, who developed the Django framework for
the display of TEI with eXist and the Fedora storage and display for
the postcards, and generously supported the coding of this site.</p>

<h3>Original Site Design</h3>
<p class="credits">Lieanna Lieanna</p>
<!-- so footer will not cover last name -->
<p>&nbsp;</p>
{% endblock %}
