{% extends "base.html" %}
{% block pagetitle %} | Links{% endblock %}

{% block content %}
<h2>Links</h2>
<h2>Useful resources about the Great War.</h2>
<p class="link">The Wikipedia article<br/>
<a href="http://en.wikipedia.org/wiki/World_War_I">http://en.wikipedia.org/wiki/World_War_I</a></p>
<hr/>
<p class="link">firstworldwar.com<br/>
<a href="http://www.firstworldwar.com/index.htm">http://www.firstworldwar.com/index.htm</a>, a multimedia site about the Great War.</p>
<hr/>
<p class="link">A Guide to WW1 Battlefields and History of the First World War<br/>
<a href="http://www.greatwar.co.uk/">http://www.greatwar.co.uk/</a>
This site provides an overview of the First World War battlefields on
the Western Front by showing you where they are and what you can see
today.
</p>
<hr/>
<p class="link">The First World War Poetry Digital Archive<br/>
<a href="http://www.oucs.ox.ac.uk/ww1lit">http://www.oucs.ox.ac.uk/ww1lit</a>
The First World War Poetry Digital Archive is an online repository of over 7000 items of text, images, audio, and video for teaching, learning, and research.<br/></p>
<p class="link">The Great War Archive<br/>
<a href="http://www.oucs.ox.ac.uk/ww1lit/gwa">http://www.oucs.ox.ac.uk/ww1lit/gwa</a>
The Great War Archive contains over 6,500 items contributed by the general public between March and June 2008. Every item originates from, or relates to, someone's experience of the First World War, either abroad or at home. Contributions were received via a special website and also through a series of open days at libraries and museums throughout the country.
</p>
<hr/>

<p class="link">
<a href="http://www.spartacus.schoolnet.co.uk/FWW.htm">http://www.spartacus.schoolnet.co.uk/FWW.htm</a>
This British site has brief history articles.
</p>
<hr/>
<p class="link">The World War I
Document Archive<br/>
<a href="http://wwi.lib.byu.edu/index.php/Main_Page">http://wwi.lib.byu.edu/index.php/Main_Page</a>
Links to primary documents about WWI.
</p>
<hr/>
<p class="link">BBC-History-World War One<br/>
<a href="http://www.bbc.co.uk/history/worldwars/wwone/">http://www.bbc.co.uk/history/worldwars/wwone/</a>
Multimedia resources about the war.</p>
<hr/>
<p class="link">Propaganda Postcards of World War 1<br/>
<a href="http://www.ww1-propaganda-cards.com/">http://www.ww1-propaganda-cards.com/</a>
More postcards, with context and background of artists.</p>
<hr/>
<p class="link">Art of the First World War<br/>
<a href="http://www.art-ww1.com/">http://www.art-ww1.com/</a>
A collaboration of museums for the 80th anniversary of the Armistice.</p>
<hr/>
<p class="link">The Great War | PBS<br/>
<a href="http://www.pbs.org/greatwar/">http://www.pbs.org/greatwar/</a>
A history of the war by public television.</p>
<hr/>
<p class="link">In Flanders Field Museum<br/>
<a href="http://www.inflandersfields.be/">http://www.inflandersfields.be/</a>
This site contains much information about the Great War in Belgium.
</p>
<hr/>
{% endblock %}
