<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Emory Libraries</title>
<link href="css/resetme.css" rel="stylesheet" type="text/css" />
<link href="css/masterblaster.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- Begin Outer Layer -->
<div id="outer">
	
    <!-- Begin Middle Layer -->
    <div id="middle">
		
        <!-- Begin Inner Layer -->
        <div id="inner">
			
            
            <div id="error_container">


<div class="errorcode">



<div id="errorslot_1">

<!-- Enter the name of your first numeral of the Error Code within the div id field below-->

<div class="four"></div>

</div>



<div id="errorslot_2">

<!-- Enter the name of your second numeral of the Error Code within the div id field below-->

<div class="one"></div>

</div>



<div id="errorslot_3">

<!-- Enter the name of your third numeral of the Error Code within the div id field below-->

<div class="eight"></div>

</div>

</div>

<div class="errortext">
<div id="error"></div>
</div>

<!-- Enter your Error Code Text -->

<div class="errorexplainer">
<h1>I'm a teapot</h1>

I'm a little teapot, short and stout. Here is my handle; here is my spout. When I get all steamed up, hear me shout. Tip me over and pour me out.

</div>


</div>
            


            
		<!-- End Inner Layer -->
		</div>
	
    <!-- End Middle Layer -->
    </div>

<!-- End Outer Layer -->
</div>




</body>
</html>
