body {  font-family: Verdana, Arial, Helvetica, sans-serif}


a	  { text-decoration: none; }
/* a:link 	  { color: #999900; }  */
/* a:link 	  { color: #718152; }  */
a:link	  { color: #687c54; }
a:active  { color: #444444; } 
a:visited { color: #b52512; }
a:hover   { background-color: #ededed; }

p.admin { background-color: #efefef; width: 144px; text-align: left; margin: 5px;}
p.admin a,a.comment { font-size: 80%; } 
p.admin a:link { color: #996633;}
p.admin a:visited { color: #cc6600;}
p.admin a:hover { background-color: #ffffff;}

p.login { background-color: #efefef; font-size: 80%; text-align: right; float: right; margin-top: -20px;}


td { text-align: center; vertical-align: top;}

/* don't do background highlighting for linked images */
a.img:hover { background-color: #ffffff; }
img { border-style: none; }


p.breadcrumbs { font-size: 80%; }

p.figure-text { padding: 5px; margin-left: 15px; font-size: 90%; }
font.count { color: #2f2f2f; padding-left: 5px; font-size: 80%;vertical-align: middle;}

div.content {	position: relative; 
		margin-left: 25px;
		margin-right: 225px;
		margin-bottom: 100px;
		padding-bottom: 2px;
		z-index: 1;
		overflow: visible;
		min-height: 60%;
	    }
p.title { /* text-align: center; */ margin:auto;
          margin-top: 1em;
	  font-size: 120%;
	  font-weight: bold;
              }
p.author { font-weight: bold;}
/* formatting for 'about the site' essay */
div#about { margin-left: 1in; margin-right: 3in; }
div.sig { margin-right: 1in; text-align: right; }
/* credits */
p.credits { margin-left: 0.5in; }

/* Hide this from IE-mac \*/
* html div.content {height: 1%;}
/* End hide from IE-mac */

/* Note: this fixes the IE escaping floats bug (IE windows) using the 'Holly Hack'  
   More information available at www.positioniseverything.net */


/* table.thumbnail { display:inline; font-size: 70%; } */
table.thumbnail { font-size: 70%; }
td.title  { text-align: center; vertical-align: top; width: 25px;
height: 20px; }
td.description  { text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 10px;}
table.thumbnail td.description  { border-bottom: double;  } 

/* note: the dimensions of this need to be large enough that the longest text will fit, 
   so the floats will all clear in IE windows */
p.thumbnail { float: left; font-size: 70%; width: 160px; height: 200px; 
	      padding: 5px; text-align: center; }
/* empty paragraph to clear floats - so footer will space properly */
p.endfloats { clear: both; }

img.thumbnail { text-align: center; vertical-align: middle; padding:
10px; border-style: none;}

div.sidebar { position: absolute; 
	      z-index: 2;
	      top: 150px;
	      right: 20px; 
	      width: 175px;
	      margin-top: 20px;
	      font-size: 85%;
	      background-color: #ffffff;
	      border-color: #b6b7b2;
	      border-style: solid;
	      padding-bottom: 10px; padding-left: 10px; padding-right:
10px;
	    }

div.content div.categories { font-size: 80%; margin-left: 1cm;}
div.sidebar div.categories { background-color:  #ffffff; 
			     margin-top: 5px; 
			     padding: 5px; 
			     border-style: double; 
			     font-size: 90%; } 
div.categories h3 { background-color: #aaae9f /* #718154*/ ; padding: 2px; margin-top:0; margin-bottom:0;}
div.categories ul { display: none; margin-top: -5px; padding-bottom: 0; }
div.categories li { list-style-type: none;  } 

div.nav { background-color: #cdcec9; 
	  font-size: 90%; 
	  padding-left: 5px;
	  padding-bottom: 10px; 
	  margin-top: 5px; }
div.nav h3 { text-align: center; border-bottom: double; padding: 2px; }

div.search { background-color: #aaae9f; 
	     font-size: 90%; 
	     padding-left: 5px; 
	     padding-bottom: 10px; }
div.search h3 { text-align: center; border-bottom: double; padding: 2px;}
div.search h4 { margin-top: 0; margin-bottom: 0; padding-top: 2px;}
div.search input { font-size: 85%; margin-left: 2px; padding: 0; }
div.search hr { width: 75%; }
p.searchdiv { background-color:#dfe3df;padding-left:15px;}

/* index search box needs slightly different formatting */
div.indexsearch { background-color: #aaae9f; 
		  font-size: 90%;
		  padding-left: 5px; 
		  padding-bottom: 5px; 
		  margin: auto; 
		  text-align: center; 
		  width: 250px; }
div.indexsearch h3 { text-align: center; 
		     border-bottom: double; 
		     padding: 0; 
		     margin-bottom: 5px; 
		     margin-right: 5px; }
div.indexsearch h4 { margin-top: 0; margin-bottom: 0; padding-top: 2px;}
div.indexsearch input { font-size: 85%; padding: 0; }
div.indexsearch hr { width: 75%; }


hr.floatright { width: 85%; float: right; vertical-align: middle;}

table.postcardnav, p.postcardnav  { width: 100%; text-align: left; font-size: 85%; }
table.postcardnav td { text-align: left; }
table.postcardnav td.maxdisplay { text-align: right; }
p.postcardnav { font-size: 85%; }

div.random_postcard { float: right; width: 175px; }

table.maxdisplay { float: right; margin-right: 215px; font-size: 85%; }
table.maxdisplay td { text-align: right; }
table.maxdisplay select,input,submit { font-size: 85%; padding: 0; }

div.index { margin: auto; text-align: center; width: 600px;}
table.indexlinks { width:800px; padding: 0; }
table.indexlinks td { width: 15%; text-align: center; vertical-align: middle; }
table.indexlinks td.separator { width: 2%;}


/* index search - on the front page */
/* div.search#index { background-color: #aab0a4; font-size: 90%; width:
 * 250px; padding-bottom: 5px;} */
/* div.indexsearch h3 { text-align: center; border-bottom: double; padding: 0;}
div.indexsearch input { font-size: 85%; margin-left: 2px; padding: 0; }  
*/
div.footer { position: fixed;
	     bottom: 0;
	     z-index: 3;
	     background: #ffffff;
	     width: 99%;
	     clear: both;
	   }
div.footer a { color: #FFCC00; font-size: 85%; }
div.footer a:active { color: #FFFFFF; }
div.footer p.links { background-color: #666666; text-align: center; margin-bottom: -5px; margin-top: 0;}
div.footer table { background-color: #666666; text-align: center; margin-bottom: -5px; margin-top: 0; width: 100%; padding-left: 20%; padding-right: 20%; }
div.footer p.copy { font-size: 65%; text-align: center; margin-bottom:
2px; margin-top: 5px; }



/* linkRecord and linkCollection styles */
table.linkRecord { width: 95% }
table.linkRecord td,th { vertical-align: middle; text-align: left;
padding: 5px;}
table.linkRecord td.link { background-color: #e9e9e9;}
table.linkRecord td.input { text-align: center; }
table.linkRecord th.input { font-size: 80%; text-align: center; }
table.linkRecord th.link  { font-size: 80%; }


table.linkCollection { border: none; width: 100%; }
table.linkCollection td.delmod { vertical-align: middle; }

table.sortopts { border: none; text-align: center; padding: 5px; font-size: 75%; width: 90%;}
div.content input { font-size: 75%; }

table.fullLinkRecord { width: 100%; font-size: 90%; border: none;
padding: 2px; }
table.fullLinkRecord td { vertical-align: middle; text-align: left; background-color: #e9e9e9; }
table.fullLinkRecord th { vertical-align: middle; text-align: right; width: 75px}
table.fullLinkRecord th.label { text-align: center; }

table.linkEdit { border: none; width: 100%; font-size: 90%; }
table.linkEdit th { background-color: #ffffff; }

p.alinkRecord { border-bottom: double; text-align: left; font-size: 75%; }

/* formatting for displaying results of url test */
font.error { color: red;  }
font.warning { color: #ff4500;; }
font.ok { color: green; }
table.linkStatus { width: 90%;  }
/* tr.even  { background-color: white; }
tr.odd { background-color: #efefef;} */
td.url { text-align: left; width: 80%; background-color: #efefef; }
td.response_code { text-align: center; background-color: #efefef; }

/* search form table formatting */
table.searchform { width: 75%; }
table.searchform th { text-align: right; width: 20%; }
table.searchform th.label { text-align: center; vertical-align: top;}
table.searchform td { text-align: left; vertical-align: middle; background-color: #e9e9e9; padding: 5px;}

/* poetry - contents of single volume */
font.type { color: #b9b9b9; padding-left: 10px; font-size: 80%;vertical-align: middle;}
p.copyright { color: #666666; margin-top: 25px; border-top: double;
padding: 5px; }
table.poem { margin: 25px; }
table.poem td, div.poem { text-align: left; }
p.head { font-weight: bold; font-size: 115%; }
p.subhead { font-weight: bold; font-size: 105%; text-align:center; }
p.argument { width: 60%; }
p.epigraph,p.trailer,p.byline,p.dedication { font-style: italic; font-size: 90%; }
p.source { font-size: 85%; }
p.next-prev { font-size: 85%; }
/* poetry search results */
p.linematch { margin: -10px; margin-left: 1cm; font-size: 80%;}
font.extent { padding-left: 10px; font-size: 80%; vertical-align: middle;}

/* poem */
div.poem {margin:auto; width: 650px;  }
/*div.poem-body {margin:auto; }*/
div.stanza { margin-top: 1em;  }
p.line { margin-bottom: 0px; margin-top: 0px; }
p.indent {text-indent: 5%;} /* at the moment, % seems to work better than em. This is the default indent*/

/* drama */
span.speaker {font-variant: small-caps;}
span.stage {font-style: italic;}

/* footnotes & endnotes */
a.footnote { font-size: 65%; vertical-align: text-top; text-decoration: none; padding-left: 3px;}
div.endnote { font-size: 85%; border-top: 1px solid; margin-top: 1cm; background-color:  #e9e9e9; } 
div.endnote table { font-size: inherit; margin-left: 1cm; }

div.toggle ul { display: none; margin-top: -2px; padding-bottom: 0; }
div.toggle li.toggle { list-style-type: none; margin-left: -15px; } 

/* search term highlighting */
span.exist-match { font-weight: bold; } 

/*span tags from format_tei*/
span.bold {font-weight: bold;}
span.italic, span.title {font-style: italic;}
span.smallcaps { font-variant: small-caps; }


/* Horizontal lists -- display inline, with lines between */
ul.horiz { display: inline; }
li.horiz { 
     display:inline; 
     padding-left: 7px;
     padding-right: 7px;
     border-left: double #aaae9f;
  }
/* (no left border on first item) */
li.horiz#first { border-left: none; }

/* table for figure description (admin section) */
table.figDesc { border: none; width: 80%; font-size: 90%; padding-bottom: 0;}
table.figDesc td { text-align: left; background-color: #e9e9e9; padding:
5px;}
table.figDesc th { text-align: center; padding: 5px; border-bottom: double;}
table.figDesc td.input { font-size: 75%; text-align: center; }

/* table for figure comment (admin section) */
table.comment { border: none; width: 100%; font-size: 90%; padding-bottom: 0;}
table.comment td { text-align: left; background-color: #ffffff; padding: 5px;}
table.comment th { text-align: right; padding: 5px; border: none; vertical-align: top;}

p.comment { font-size: 90%; margin-left: 0.5cm; }
p.comment span.byline { font-style: italic; font-size: 90%; color: #666666; }



p.inline-note { font-size: 85%; }




